@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.pred {
  height: 71px;
  background-color: #3f6d69;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.broj {
  color: #ffffff;
  font-size: x-large;
}

.drop {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  font-size: x-large;
  color: #ffffff;
}

.vl {
  border-left: 1px solid #ffffff;
  height: 30px;
}

header {
  height: 105px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkovi {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.linkovi a {
  text-decoration: none;
  color: #3f6d69;
}

#lupa {
  color: #3f6d69;
}

.pocetak {
  background-image: url(./Rectangle\ 36.png);
  height: 661px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naslovcic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3f6d69;
  margin-top: 70px;
}

.slike {
  width: 1400px;
  margin-left: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.prvas {
  width: 577px;
  height: 745px;
}

.drugas {
  width: 647px;
  height: 846px;
  margin-left: 56px;
}

.trecas {
  width: 738px;
  height: 545px;
  margin-bottom: 40px;
}

.cetvrtas {
  width: 473px;
  height: 566px;
  margin-left: 69px;
  margin-top: 72px;
}

.naslovcic2 {
  color: #ffffff;
  background-color: #3f6d69;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seljanke {
  width: 1400px;
  margin-left: 250px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.prvaslika {
  width: 363px;
  height: 471px;
}

.drugaslika {
  width: 808px;
  height: 411px;
  margin-left: 60px;
}

.trecaslika {
  width: 670px;
  height: 299px;
}

.cetvrtaslika {
  width: 545px;
  height: 299px;
  margin-left: 65px;
  margin-top: 61px;
}

.naslovcic3 {
  color: #ffffff;
  background-color: #3f6d69;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seljanke2 {
  height: 1000px;
  margin-left: 270px;
  margin-top: 100px;
}

.stepenice1 {
  position: absolute;
  width: 200px;
  height: 324px;
}

.stepenice2 {
  position: absolute;
  width: 307px;
  height: 415px;
  margin-left: 30px;
  margin-top: 43px;
}

.stepenice3 {
  position: absolute;
  width: 448px;
  height: 462px;
  margin-left: 364px;
}

.stepenice4 {
  position: absolute;
  width: 394px;
  height: 525px;
  margin-top: 350px;
  right: 1067px;
}

.stepenice5 {
  position: absolute;
  width: 783px;
  height: 394px;
  margin-top: 483px;
  margin-left: 28px;
}

.nekinaslov {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #3f6d69;
}

.spomenik {
  height: 1200px;
  margin-left: 250px;
  margin-top: 120px;
}

.spomenik1 {
  position: absolute;
  width: 424px;
  height: 318px;
  margin-left: 100px;
}

.spomenik2 {
  position: absolute;
  width: 649px;
  height: 453px;
  margin-left: 600px;
}

.spomenik3 {
  position: absolute;
  width: 522px;
  height: 650px;
  margin-top: 370px;
}

.spomenik4 {
  position: absolute;
  width: 649px;
  height: 521px;
  margin-left: 600px;
  margin-top: 500px;
}

.registracija {
  background-color: #3f6d69;
  height: 270px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.registracija input {
  margin-left: 15px;
  background-color: #3f6d69;
  color: #d4d1d1;
  border: solid 1px #ffffff;
  font-size: x-large;
  padding: 5px;
}

.registracija button {
  width: 100px;
  height: 44px;
  font-size: larger;
  border: none;
}

.registracija h1 {
  margin-left: 80px;
  margin-top: 60px;
}

footer {
  background-color: #8d8d8d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 300px;
  color: #ffffff;
}

#ikona {
  background-color: #3f6d69;
  border-radius: 50%;
  width: 25px;
  font-size: x-large;
}
