@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.pred {
  height: 71px;
  background-color: #3f6d69;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.broj {
  color: #ffffff;
  font-size: x-large;
}

.drop {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  font-size: x-large;
  color: #ffffff;
}

.vl {
  border-left: 1px solid #ffffff;
  height: 30px;
}

header {
  height: 105px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkovi {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.linkovi a {
  text-decoration: none;
  color: #3f6d69;
}

#lupa {
  color: #3f6d69;
}

.main {
  height: 664px;
  background-color: #49827dcc;
  position: relative;
}

.desna {
  position: absolute;
  width: 500px;
  margin-left: 70px;
  margin-top: 128px;
  margin-left: 185px;
}

.desna h1 {
  font-size: 50px;
  color: #ffffff;
}

.desna p {
  color: #ffffff;
}

.pozadinska {
  background-color: #427d78d6;
  padding: 7px;
}

.prvibtn {
  color: #3f6d69;
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 3px;
}

.main2 {
  display: flex;
  justify-content: space-around;
  height: 950px;
}

.tekst {
  width: 400px;
  margin-right: 100px;
  margin-top: 140px;
  font-size: x-large;
}

.tekst h1 {
  color: #3f6d69;
}

.tekst p {
  color: #3f6d69;
}

.drugibtn {
  background-color: #3f6d69;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 40px;
}

.slike {
  width: 800px;
  height: 200px;
}

.prva {
  width: 419px;
  height: 355px;
  margin-top: 140px;
}

.druga {
  width: 274px;
  height: 412px;
  margin-left: 44px;
}

.treca {
  width: 201px;
  height: 323px;
  margin-top: 29px;
}

.cetvrta {
  width: 498px;
  height: 278px;
  margin-bottom: 49px;
  margin-left: 40px;
}

.naslov {
  display: flex;
  justify-content: center;
  align-items: center;
}

.naslov h1 {
  color: #3f6d69;
  font-weight: bolder;
  font-size: 50px;
}

.leva img {
  width: 451px;
  height: 385px;
  margin-left: 79px;
}

.prviTek {
  width: 451px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 560px;
}

.naslov1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cards img {
  width: 418px;
  height: 381px;
}

.tekst1 {
  width: 340px;
}

.cardBtn {
  width: 197px;
  height: 58px;
  background-color: #3f6d69;
  border: none;
  color: #ffffff;
  font-size: larger;
}
