@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.pred {
  height: 71px;
  background-color: #3f6d69;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.broj {
  color: #ffffff;
  font-size: x-large;
}

.drop {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  font-size: x-large;
  color: #ffffff;
}

.vl {
  border-left: 1px solid #ffffff;
  height: 30px;
}

header {
  height: 105px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkovi {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

.linkovi a {
  text-decoration: none;
  color: #3f6d69;
}

#lupa {
  color: #3f6d69;
}

.main {
  height: 664px;
  background-color: #49827dcc;
  position: relative;
}

.desna {
  position: absolute;
  width: 500px;
  margin-left: 70px;
  margin-top: 128px;
  margin-left: 185px;
}

.desna h1 {
  font-size: 50px;
  color: #ffffff;
}

.desna p {
  color: #ffffff;
}

.pozadinska {
  background-color: #427d78d6;
  padding: 7px;
}

.prvibtn {
  color: #3f6d69;
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 4px;
}

.main2 {
  display: flex;
  justify-content: space-around;
  height: 950px;
}

.tekst {
  width: 400px;
  margin-right: 100px;
  margin-top: 140px;
  font-size: x-large;
}

.tekst h1 {
  color: #3f6d69;
}

.tekst p {
  color: #3f6d69;
}

.drugibtn {
  background-color: #3f6d69;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 4px;
}

.slike {
  width: 800px;
  height: 200px;
}

.prva {
  width: 419px;
  height: 355px;
  margin-top: 140px;
}

.druga {
  width: 274px;
  height: 412px;
  margin-left: 44px;
}

.treca {
  width: 201px;
  height: 323px;
  margin-top: 29px;
}

.cetvrta {
  width: 498px;
  height: 278px;
  margin-bottom: 49px;
  margin-left: 40px;
}

.main3 {
  height: 1050px;
}

.naslov {
  display: flex;
  justify-content: center;
  align-items: center;
}

.naslov h1 {
  color: #3f6d69;
  font-weight: bolder;
  font-size: 50px;
}

.kartice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.kartice img {
  width: 451px;
}

.seljanka {
  height: 384px;
}

.kartica1 {
  width: 451px;
  height: 385px;
}

.tek {
  height: 385px;
  width: 451px;
  padding: 15px;
  color: #3f6d69;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dug {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.karticeBtn {
  background-color: #3f6d69;
  width: 75px;
  height: 38px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
}

.nzm {
  height: 700px;
}

.nzm img {
  position: absolute;
  z-index: 5;
  margin-top: 70px;
  margin-left: 42px;
}

.prvaLinija {
  margin-top: 230px;
  margin-right: 160px;
}

.drugaLinija {
  margin-top: 230px;
}

.unutrasnji {
  position: relative;
  margin-left: 319px;
  width: 994px;
  height: 562px;
  background-color: #3f6d69;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.naslov1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.naslov1 h1 {
  color: #3f6d69;
  font-weight: bolder;
  font-size: 50px;
}

.naslov1 p {
  color: #3f6d69;
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.cards img {
  width: 418px;
  height: 381px;
}

.tekst1 {
  width: 340px;
  color: #3f6d69;
}

.cardBtn {
  width: 197px;
  height: 58px;
  background-color: #3f6d69;
  border: none;
  color: #ffffff;
  font-size: large;
  border-radius: 5px;
}

.naslovNeki {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  color: #3f6d69;
  margin-bottom: 130px;
}

.lokacije {
  background-color: #3f6d69;
  height: 500px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seljaci {
  width: 287px;
  height: 250px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.registracija {
  background-color: #3f6d69;
  height: 200px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.registracija input {
  margin-left: 15px;
  background-color: #3f6d69;
  color: #d4d1d1;
  border: solid 1px #ffffff;
  font-size: x-large;
  padding: 5px;
}

.registracija button {
  width: 100px;
  height: 44px;
  font-size: larger;
  border: none;
}

.registracija h1 {
  margin-left: 80px;
}

footer {
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 300px;
  color: #ffffff;
}

#ikona {
  background-color: #3f6d69;
  border-radius: 50%;
  width: 25px;
  font-size: x-large;
}
